@CHARSET "UTF-8";

html, body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000000;
}

body {
	padding-bottom: 21px; /* keep room for footer */
}

h1 {
	font-size: 18px;
	margin-bottom: 10px;
	padding: 2px;
	color: #00387D;
}

pre {
	/* white-space: pre-wrap; */
	font-size: 11px;
	line-height: 1.0em;
}

tr.header {
	font-weight: bold;
	font-size: 12px;
}

td.number {
	text-align: right;
	padding-left: 10px;
}

.error {
	color: #b00000;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
}

#logo {
	background: transparent url("webcontrol-logo.jpg") no-repeat top left;
	position: fixed;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	z-index:-1;
}

#clock {
	position: fixed;
	left: 10px;
	top: 132px;
	margin-left: 12px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #00387D;
}

#appversion {
	font-size:xx-small;
	vertical-align:bottom;
	color: #909090;
}

.container {
	/*width: 950px;*/
	margin-left: 140px;
	margin-right: 10px;
}

.last, div.last {
	margin-right:0;
}

.span-12 {
	width:470px;
}

input.span-12, textarea.span-12 {
	width:458px!important;
}


/* Menu's */
#mainmenu {
	color: #0038BD;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;	
}
#mainmenu li { 
	margin: 4px 0;
	list-style-type: circle;
	/* text-transform: capitalize; */
}
#mainmenu li:hover {
	list-style-type: disc;
}
#mainmenu a {
	color: inherit;
}
#mainmenu a:link {
	text-decoration: none;
}
#mainmenu a:visited {
	text-decoration: none;
}
#mainmenu a:hover {
	color: #000070;
	background-color: #AAD4FF;
}
.main-list-item {	
}
.list-item-separator:hover {
	list-style-type: none!important;
}



#menu {
	position: fixed;
	left: 10px;
	top: 185px;
	width: 8em;
	margin-top: -2.5em;	
	z-index: 5;
	color: white;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1.3em;
    background: rgba(92, 175, 230, 0.7);
    border: 2px solid rgba(0, 13, 40, 0.4);
    /*
	box-shadow: 0 1px 3px black;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	*/
    border-radius: 4px;
    -moz-border-radius: 4px;
}
#menu li { 
	margin: 4px 0;
	list-style-type: none;
	text-transform: capitalize;
}
#menu li:hover {
	list-style-type: disc;
}
#menu a {
	color: inherit;
}
#menu a:link {
	text-decoration: none;
}
#menu a:visited {
	text-decoration: none;
}
#menu a:hover {
	color: #000070;
}

/* Make menu absolute, not fixed, on IE 5 & 6 */
#menu { position: absolute }
*>#menu { position: fixed }



#footer {
	position: fixed;
	height: 21px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	min-width: 760px;
	width: 100%;
	background-color: #34769a;
	border-top: 1px solid #fff;
}
#footermenu {
	margin: 4px auto;
	position: relative;
	z-index: 10;
	width: 100%;
}
#footermenu li {
	display: inline;
	padding: 0 5px;
	background-color: #34769a;
}
#footermenu a {
	font-weight: bold;
	font-size: 10px;
	text-decoration: underline;
	text-align: center;
	color: #fff;
	white-space: nowrap;
}
#footermenu a:focus, #footermenu a:hover, #footermenu a:active {
	color: #a9076a;
}


/* Progessindicator */
#progessindicator {
	display: none;
	position: fixed;
	z-index: 20000;
	cursor: default;
	top: 220px;
	left: 250px;
	padding: 0px;
	margin: 0 10px 10px 0;
	background-color: rgb(0, 0, 0);
	opacity: 0.60;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-border-radius: 5px;
	border: 2px outset #585B5C;	
}

#progessspinner {
	vertical-align:middle;
	margin-right:8px;
}

#progessmessage {
	overflow: hidden; 
	padding: 10px; 
	text-align: left; 
	font: bold 16px sans-serif; 
	color: rgb(255, 255, 255);
}