.containing-element .ui-slider-switch {
	width: 12em ;
}

#input-container {
	text-shadow: none;
	width: 100%;
}

#input-header {
	width: 100%;
	background-color: #BF4B57;
}

#input-title {
	color: #FFFFFF;
	display: inline-block;
	padding-left: 5px;
	font-weight: bold;
}

#theme-selector {
	float: right;
}

.monitor-status {
	display: inline-block;
	float: right;
}

#input-status {
	font-variant: small-caps;
	font-weight: bold;
	font-size: .9em;
}

#input-connect-status {
	font-size: .75em;
}

#input-status,
#input-connect-status {
	display: inline-block;
	color: #F8FF00;
	font-style: italic;
	padding-right: 5px;
}

#input {
	width: 100%;
	background-color: black;
	color: white;
	height: 200px;
	overflow: auto;
	text-shadow: none;
}

.inputdata {
	font-family: monospace;
	font-size: .9em;
	padding-left: 6px;
	word-break: break-all;
	margin: 0;
}

.debug {
	color: #ADADAD;
}

.sent {
	color: #21EE1E;
}

.received {
	color: #F5F40A;
}

.stdout {
	color: #25ffe4;
	margin-left: 4px;
}

.stderr {
	color: #ff7676;
	margin-left: 4px;
}

.current-effect {
	color: #b1ff00 !important;
}


/* Override active color */
.ui-btn-active, .ui-flipswitch-active {
	background-color: #1a6c91 !important;
	border-color: #1a7ba1 !important;
}

/* Flipswitch with custom width and indentations to accommodate longer label */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -9.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
	text-indent: 0.5em;
}
.custom-size-flipswitch.ui-flipswitch {
	width: 12.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
	padding-left: 11em;
	width: 1.875em;
}
@media (min-width: 28em) {
	.ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
		width: 1.875em;
	}
}

/* Bigger height flipswitch (same height as button) */
.big-flipswitch {
	height: 2.6em;
}
.big-flipswitch.ui-flipswitch .ui-btn,
.big-flipswitch.ui-flipswitch .ui-flipswitch-off {
	height: 2.4em;
	line-height: 2.3em;
}
.big-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -3.0em;
}
.big-flipswitch.ui-flipswitch .ui-flipswitch-off {
	text-indent: 0.5em;
}

/* red/green flipswitch */
.redgreen-flipswitch {
	background-color: #631313 !important;
	color: white !important;
}
.redgreen-flipswitch.ui-flipswitch-active {
	background-color: #194119 !important;
}
